

<div id='About' class="bg-gradient-to-b from-slate-900 via-purple-950 to-black pt-20 pb-20">
    <h2 class="text-5xl text-center font-mono text-white block font-bold mb-10">Que es Vision-<span class="text-emerald-300 ">Arch</span>?</h2>
    <div class="container px-20 mx-auto grid grid-cols-4 grid-rows-1 gap-10">
        <div class="bg-slate-800 p-5 rounded-xl col-span-2 flex items-center shadow-lg shadow-purple-300">
            <p class="text-lg text-white mb-10 ">
                Vision Arch es una innovadora plataforma de software de realidad aumentada (AR) diseñada específicamente para la visualización y planificación de proyectos de construcción y remodelación.  
            </p>
        </div>

        <div class="bg-slate-800 p-5 rounded-xl col-span-2 flex items-center shadow-lg shadow-purple-300">
            <p class="text-lg text-white mb-10">
                Con Vision Arch, arquitectos, diseñadores y propietarios pueden ver y experimentar sus proyectos en un entorno tridimensional y realista antes de que se inicien las obras.
            </p>
        </div>

        <div class="bg-slate-800 p-5 rounded-xl col-span-1 flex items-center shadow-lg shadow-purple-300">
            <p class="text-lg text-white mb-10">
                Nuestro software facilita la toma de decisiones informadas, mejora la comunicación entre todas las partes involucradas y permite realizar ajustes precisos en cualquier etapa del proyecto.
            </p>
        </div>
        
        <div class="bg-slate-800 p-5 rounded-xl col-span-3 flex items-center shadow-lg shadow-purple-300">
            <p class="text-lg text-white">Vision Arch transforma los planos tradicionales en experiencias interactivas, ofreciendo una nueva perspectiva que ayuda a convertir las ideas en realidades tangibles. Con una interfaz fácil de usar y tecnología avanzada, Vision Arch está cambiando la manera en que se conciben y ejecutan los proyectos arquitectónicos.</p>
        </div>
        
    </div>
    
</div>

<style>
    @import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Sofia&display=swap");
  
    @tailwind base;
    @tailwind components;
    @tailwind utilities;
  
    .video-game {
      font-family: "Press Start 2P", cursive;
    }
  </style>
  