


<div class="bg-gradient-to-t from-emerald-950 to-black pt-40 border-t-2 border-emerald-900 pb-40">
    <div class="border border-emerald-600 w-1/2 mx-auto rounded-xl max-w-3xl shadow-lg shadow-emerald-500">

        <div class=" flex p-20 justify-between">
            <div class="">
                <h3 class="text-emerald-300 font-thin text-sm mb-1">PLANES DESDE:</h3>
                <p class="text-white text-xl font-bold">Basic 50$/mo</p>
            </div>
            <div>
                <h3 class="text-emerald-300 font-thin text-sm mb-1">PRE-RENDERIZADOS:</h3>
                <p class="text-white text-xl font-bold">Más de 300 incluidos.</p>
            </div>
        </div>

        <div class="border-x border-b-2 border-t border-t-emerald-900 border-x-emerald-900 border-b-emerald-300 p-16 rounded-xl">
            <div class="flex justify-between mx-auto max-w-md gap-5 items-baseline">
                <div>
                    <a class="p-5 bg-gradient-to-b from-black to-emerald-300 rounded-xl shadow-lg shadow-emerald-500 text-white font-bold border-5" href="/pricing">EMPIEZA YA</a>
                </div>
                <div class="flex flex-col ">
                    <h3 class="text-3xl text-white font-bold">Ahorra $310</h3>
                    <p class="text-sm mt-1 text-emerald-300">COMPARADO CON OTRAS PLATAFORMAS</p>
                </div>
            </div>
            
        </div>
    
    </div>
</div>