---
import Card from '../Card.astro'
import { Image } from "astro:assets"
import Cocina from '../../images/cocina.jpg'
import Carrusel from './Carrusel.tsx'
---
<div class="relative pt-5">
    <div class="absolute top-0 left-0 right-0">
        <p class="text-6xl text-center font-mono text-white block font-bold">Experimenta tus Diseños <span class="text-emerald-300 font-extrabold block">como Nunca Antes</span></p>
    </div>
    <div class="flex flex-col gap-5 bg-slate-900 rounded-2xl py-20 mt-9">
        <div class="container w-3/4 mx-auto flex flex-row gap-20">
            <Card title='Edificacion' description='Apartamento'/>
            <Card title='Zona' description='Cocina'/>
        </div>
        <div  class="container w-3/4 mx-auto flex flex-row gap-20">
            <Card title='Colores' description='Pastel'/>
            <Card title='Diseño' description='Moderno'/>
        </div>
        <div class="mx-auto bg-purple-950 p-2 shadow-lg shadow-purple-400 rounded-lg">
            <Image src={Cocina} alt='Imagen de Ejemplo'/>
        </div>
    </div>
    
</div>
<section class="bg-slate-900">
    <h2 class="text-5xl text-center font-mono text-white block font-bold w-1/2 mx-auto mb-10">Explora Nuestros Proyectos en <span class="text-emerald-300 animate-pulse">Realidad Aumentada</span></h2>
    <div class="border border-5 border-emerald-300 rounded-lg shadow-xl w-1/2 mx-auto shadow-emerald-500">
        <Carrusel client:visible/>
    </div>
</section>


